

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

/* page banner */

.banner {
  height:50vh;
  width:100vw;
  background-color:#ceafbd;
  position:relative;

}
.button {
  height: 50px;
}

/* avatar banner */
.avatar-bordered {
  display: block;
  width: 200px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  height:200px;
  margin: 0 auto 5px auto;
  position:absolute;
  bottom:157px;
  left: calc(50% - 100px);
}

h1 {

 }

.text-box {
  text-align:center;
  padding-top: 120px;
  font-size:30px;
}


.social {
  display:flex;
  justify-content: center;
  padding-top:20px;
}

.social i {
  margin:10px;
  font-size:20px;
}

.flex-box {
  justify-content: space-evenly;
  display: flex;
  height: 100px;
  padding-top: 20px;
  font-weight:bold;
}

.text-box-about {
  font-size:10px;
  margin:10px 50px;
  text-align:center;
  padding-bottom: 60px;
}

.button {
  height:20px;
  background-color: #db9eb0 !important;
}

.btn-block {
  background-color: #db9eb0;
}
.btn-primary {
  border:none;
}

.parallax {
  /* The image used */
  background-image: url("https://images.unsplash.com/photo-1463136536204-685cfa574ab1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");

  /* Set a specific height */
  min-height:500px;
  position:relative;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax img {
width:100px;
height:50px;
text-align:center;
}


